<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="apple-touch-icon" href="/images/coindeets-192x192.png">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Meta Tags required for Progressive Web App -->
    <meta name= "apple-mobile-web-app-status-bar" content="#aa7700">
    <meta name="theme-color" content="black">
    <!-- Manifest File link -->
    <link rel="manifest" href="manifest.json">
    
    <!-- Bootstrap core CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- Line Awesome -->
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
    <script defer src="/js/init-firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/4.8.1/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.8.1/firebase-ui-auth.css" />
  </head>

  <body>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#"><%= title %></a>
  <div class="navbar-nav">
    <div id="auth-menu" class="nav-item text-nowrap row">
        <div class="col"><a id="configure" class="nav-link px-1" href="#" data-bs-toggle="modal" data-bs-target="#coinsModal"><i class="las la-2x la-coins" title="Configure Coins"></i></a></div>
        <div class="col"><a id="configure" class="nav-link px-1" href="#" data-bs-toggle="modal" data-bs-target="#balanceModal"><i class="las la-2x la-balance-scale-left" title="Configure Balance"></i></a></div>
        <div class="col"><a id="refresh" class="nav-link px-1" href="#"><i class="las la-2x la-redo-alt" title="Refresh"></i></a></div>
        <div class="col"><a id="signout" class="nav-link px-1" href="#"><i class="las la-2x la-sign-out-alt" title="Sign Out"></i></a></div>
    </div>
  </div>
</header>

<div class="container-fluid">
    <div id="signin-section">                      
            <div id="firebaseui-auth-container"></div> 
    </div>                                         

  <div id="main-section" class="row">
    <main class="col mt-4 px-4">
        <h2 id="introMsg"><span id="username"></span>'s coindeets</h2>
          <p>Last updated: <span id="lastUpdated"></span> -- <i>Updating in: <span id="updateTimer">60</span> seconds.</i></p>
      <div id="bubbleRow" class="row bubbleDiv">
          <!-- Auto-populated. -->
      </div>
      <div>
          <p>
          Portfolio: <span id="personalAmount"></span> (<span id="personalChangeAmount">--</span>) <span id="portfolioProfitLoss">| Portfolio Profit/Loss: <span id="personalProfitLoss">--</span></span>
          </p>
      </div>
      <div class="form-check form-switch mt-3">
            <input class="form-check-input" type="checkbox" id="showPortfolioChart">
              <label class="form-check-label" for="showPortfolioChart">Show Portfolio Chart</label>
      </div>
      <div>
            <canvas id="portfolioChart"></canvas>
      </div>


    </main>
  </div>
</div>

<!-- Modals -->
<!-- Balance Modal -->
<div class="modal fade" id="balanceModal" tabindex="-1" aria-labelledby="balanceModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="balanceModalLabel">Balance</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="balance-modal-body" class="modal-body">
          <div class="input-group flex-nowrap mb-3">
              <span class="input-group-text" id="initial_usd">initial usd</span>
              <input id="initial_usd-balance" type="text" class="form-control" placeholder="0.00" aria-label="initial_usd-balance" aria-describedby="initial_usd-balance-label">
          </div>
          <!-- Auto-populated. -->
      </div>
      <div class="modal-footer">
        <button id="closeConfig" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button id="updateBalance" type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Coins Modal -->
<div class="modal fade" id="coinsModal" tabindex="-1" aria-labelledby="coinsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="coinsModalLabel">Coins</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="coins-modal-body" class="modal-body">
      </div>
      <div class="modal-footer">
        <button id="coins-closeConfig" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button id="coins-update" type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

      <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>

      <script src="/js/index.js"></script>

    <!-- PWA -->
	<script>
	    window.addEventListener('load', () => {
	        registerSW();
	    });
	                   
	    // Register the Service Worker
	    async function registerSW() {
	        if ('serviceWorker' in navigator) {
	            try {
	                await navigator
	                    .serviceWorker
	                    .register('/sw.js');
	            }
	            catch (e) {
	                console.log('SW registration failed');
	            }
	        }
	    }
	</script>

  </body>
</html>
