body {
    font-size: 0.875rem;
    background: #243447;
    color: white;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
  right: 0;
  */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-link.active {
    color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: 0.75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
    top: 0.25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: 0.75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}
#main-section,
#auth-menu {
    visibility: hidden;
}
.coinName {
    font-size: 2em;
}
.coinPrice {
    font-size: 1.5em;
    font-weight: bold;
}
.coinChange {
}
.coinBubble {
    border-radius: 25px;
    padding: 20px;
    height: 190px;
    min-width: 180px;
    max-width: 190px;
    background: black;
    color: white;
}
.portfolioBubble {
    border-radius: 25px;
    padding: 20px;
    height: 190px;
    max-width: 220px;
    margin: auto;
    margin-bottom: 15px;
}
#introMsg {
    text-transform: lowercase !important;
    font-size: 4rem;
}
.bubbleDiv {
    margin: auto;
}
.placeholderBubble {
    background: white;
}
/* Placeholder bubble is used for formatting on mobile, so hide otherwise. */
@media screen and (min-width: 413px) {
    .placeholderBubble {
        display: none !important;
    }
}
.balance-input-group-text {
    width: 80px;
}
#portfolioProfitLoss {
    visibility: hidden;
}
#signout {
    padding-right: 20px !important;
}
#portfolioChart {
    max-width: 800px;
}
.modal-content {
    color: black;
}
/* Set a few themes for common coins. For those not specified, it will generate a random color. */
#btcBubble {
    background: #f2a900;
    color: #4d4d4e;
}
#ethBubble {
    background: #3c3c3d;
    color: #ecf0f1;
}
#solBubble {
    background: #00ffa3;
    color: #101921;
}
#adaBubble {
    background: #aac8ee;
    color: #333333;
}
#linkBubble {
    background: #252e42;
    color: white;
}
